[submodule "deps/zopfli"]
	path = deps/zopfli
	url = https://github.com/google/zopfli
[submodule "deps/brotli"]
	path = deps/brotli
	url = https://github.com/google/brotli
[submodule "deps/bearssl"]
	path = deps/bearssl
	url = https://www.bearssl.org/git/BearSSL
[submodule "deps/openssl"]
	path = deps/openssl
	url = https://github.com/openssl/openssl
